<div class="field">
  <%= form_for @profile, remote: true do |form| %>
    <%= form.label :images %>
    <%= form.file_field :image, direct_upload: true %>
		<%= form.submit "Upload Selfie" %>
  <% end %>
</div>

<%= react_component("WebCam") %>

<div class="field">
  <img id='result' src=''>
</div>
